// Use Compass ('cause it rocks!)
@import "compass";

// Base Font
$base-font-family:  "Open Sans", Helvetica, Arial, sans-serif;;
$header-font-family:  "Open Sans", Helvetica, Arial, sans-serif;;
$base-font-size: 15px;

// Container size
$main-nav-height: 60px;

@import "modules/all";
