.button {
  font-family: $header-font-family;
  padding: 5px 15px;
	background: $cl-button-active-background;
	color: $cl-button-active-font;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;

  i {
    margin-right: 0.5em;
  }

  &.large {
    padding: 12px 18px;
    font-size: 16px;
  }

  &.blue {
    background: $cl-blue;
    &:hover {
      background: adjust-lightness($cl-blue, -5);
    }
  }

  &.grey {
    background: $cl-grey;
    color: $cl-lighter-font;
    &:hover {
      color: $cl-lighter-font;
      background: adjust-lightness($cl-grey, -5);
    }
  }

  &:active {
    background: $cl-button-active-background-hover;
  }

  &:hover {
  	color: $cl-button-active-font;
  }

  &.invert {
    background: $cl-button-background;
  	color: $cl-button-font;

    &.active {
      background: $cl-button-active-background;
      color: $cl-button-active-font;
      &:active {
        background: $cl-button-active-background-hover;
      }
      &:hover {
      	color: $cl-button-active-font;
      }
    }

    &:not(.active):hover {
      background: $cl-button-background-hover;
    	color: $cl-button-font;
    }
  }

  &.round {
    border-radius: 20px;
  }
}
