@font-face {
	font-family: 'CSPraJad';
	src: url('../fonts/CSPraJad-Italic.eot');
	src: url('../fonts/CSPraJad-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CSPraJad-Italic.woff') format('woff'),
		url('../fonts/CSPraJad-Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'CSPraJad';
	src: url('../fonts/CSPraJad.eot');
	src: url('../fonts/CSPraJad.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CSPraJad.woff') format('woff'),
		url('../fonts/CSPraJad.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CSPraJad';
	src: url('../fonts/CSPraJad-bold.eot');
	src: url('../fonts/CSPraJad-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CSPraJad-bold.woff') format('woff'),
		url('../fonts/CSPraJad-bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CSPraJad';
	src: url('../fonts/CSPraJad-boldItalic.eot');
	src: url('../fonts/CSPraJad-boldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CSPraJad-boldItalic.woff') format('woff'),
		url('../fonts/CSPraJad-boldItalic.ttf')  format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-ExtraLightItalic.eot');
	src: url('../fonts/ThaiSansNeue-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-ExtraLightItalic.woff') format('woff'),
		url('../fonts/ThaiSansNeue-ExtraLightItalic.ttf')  format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-LightItalic.eot');
	src: url('../fonts/ThaiSansNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-LightItalic.woff') format('woff'),
		url('../fonts/ThaiSansNeue-LightItalic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-BlackItalic.eot');
	src: url('../fonts/ThaiSansNeue-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-BlackItalic.woff') format('woff'),
		url('../fonts/ThaiSansNeue-BlackItalic.ttf')  format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-BoldItalic.eot');
	src: url('../fonts/ThaiSansNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-BoldItalic.woff') format('woff'),
		url('../fonts/ThaiSansNeue-BoldItalic.ttf')  format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-ExtraBoldItalic.eot');
	src: url('../fonts/ThaiSansNeue-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/ThaiSansNeue-ExtraBoldItalic.ttf')  format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-Italic.eot');
	src: url('../fonts/ThaiSansNeue-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-Italic.woff') format('woff'),
		url('../fonts/ThaiSansNeue-Italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-ExtraBold.eot');
	src: url('../fonts/ThaiSansNeue-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-ExtraBold.woff') format('woff'),
		url('../fonts/ThaiSansNeue-ExtraBold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-Bold.eot');
	src: url('../fonts/ThaiSansNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-Bold.woff') format('woff'),
		url('../fonts/ThaiSansNeue-Bold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-Regular.eot');
	src: url('../fonts/ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-Regular.woff') format('woff'),
		url('../fonts/ThaiSansNeue-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-Black.eot');
	src: url('../fonts/ThaiSansNeue-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-Black.woff') format('woff'),
		url('../fonts/ThaiSansNeue-Black.ttf')  format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-Light.eot');
	src: url('../fonts/ThaiSansNeue-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-Light.woff') format('woff'),
		url('../fonts/ThaiSansNeue-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ThaiSansNeue';
	src: url('../fonts/ThaiSansNeue-ExtraLight.eot');
	src: url('../fonts/ThaiSansNeue-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ThaiSansNeue-ExtraLight.woff') format('woff'),
		url('../fonts/ThaiSansNeue-ExtraLight.ttf')  format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
    font-family: 'CSChatThai';
    src: url('../fonts/CSChatThaiUI.eot');
    src: url('../fonts/CSChatThaiUI.eot') format('embedded-opentype'),
         url('../fonts/CSChatThaiUI.woff2') format('woff2'),
         url('../fonts/CSChatThaiUI.woff') format('woff'),
         url('../fonts/CSChatThaiUI.ttf') format('truetype'),
         url('../fonts/CSChatThaiUI.svg#CSChatThaiUI') format('svg');
}
