.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  display: none;
  overflow: auto;

  &.open {
    display: block;
  }

  .modal-inner {
    position: relative;
    padding: 60px;
    background: $cl-modal-background;
    width: 600px;
    margin: 80px auto;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $cl-blue;
  }
}

.modal-placeholder {
  display: none !important;
}
